<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Show Product</title>
<!--JQUERY-->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script 
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script 
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	
	<!-- Los iconos tipo Solid de Fontawesome-->
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	
	<!-- Nuestro css-->
	<link rel="stylesheet" type="text/css" href="static/css/user-form.css"
		th:href="@{/css/user-form.css}">
	<!-- DATA TABLE -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

	<script type="text/javascript">
	    $(document).ready(function() {
	        //Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
	        $('#userList').DataTable();
	    } );
	</script>
</head>
<body>
       <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                  <h4>Crear nuevo Producto:</h4>
				<div class="card-body">
     	 <form action="#" th:object="${product}"
            method="post">   
              <div class="form-group">     
					<td>Product ID:</td>
					<tr>
        		    <td><input type="text" th:field="*{id}" readonly="readonly" disabled/></td>
        		    </tr>
          </div>
            <div class="form-group">
        			<td><b>Product Name:</b></td>
        			<tr>
        			<td><input type="text" th:field="*{name}" disabled/></td>
        			</tr>
        	</div>
        	  <div class="form-group">
        			<td><b>Brand:</b></td>
        			<tr>
        	        <td><input type="text" th:field="*{brand}" disabled/></td>
        	        </tr>
        	   </div>
        	     <div class="form-group">
        			<td><b>Made In:</b></td>
        			<tr>
                    <td><input type="text" th:field="*{madein}" disabled/></td>
                    </tr>
                </div>
                  <div class="form-group">
                    <td><b>Price:</b></td>
                    <tr>
                    <td><input type="text" th:field="*{price}" disabled/></td>       
                    </tr>
             </div>
        </form>
    </div>
    </div>
    </div>
    </div>
    </div>
</body>
</html>